:root {
    --color-transparent: transparent;
    --color-primary-gray: #BBBBBB; 
    --color-primary-dark: rgba(0, 0, 0, 0.8);
    --color-placeholder: #BBBBBB;
    --color-checkbox: #FCAD1C;
    --color-modal: rgba(0, 0, 0, 0.5);

    --color-warning: #D9726B;

    --font-size-xl: 32px;
    --font-size-lg: 24px;
    --font-size-md: 20px;
    --font-size-reg: 15px;
    --font-size-sm: 13px;

    --w-block-xs: 132px;
    --h-block-xs: 34px;

    --w-block-base: 372px;
    --h-block-base: 52px;

    --w-block-lg: 520px;
    --h-block-lg: 52px;

    --checkbox-base: 23px;
}

