:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-primary-gray: #BBBBBB: 
    --color-primary-black: rgba(0, 0, 0, 0.8);

    --color-error: #D9726B;

    --font-size-lg: 32px;
    --font-size-md: 24px;
    --font-size-reg: 15px;
    --font-size-sm: 13px;
}

