:root {
    --color-transparent: transparent;
    --color-primary-gray: #BBBBBB; 
    --color-primary-dark: rgba(0, 0, 0, 0.8);
    --color-placeholder: #BBBBBB;
    --color-modal: rgba(0, 0, 0, 0.5);

    --color-warning: #D9726B;

    --font-size-lg: 32px;
    --font-size-md: 24px;
    --font-size-reg: 15px;
    --font-size-sm: 13px;
}

